#footer1{
    position: relative;
    background-color: #393E46;
    min-height: 38rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0 2rem;
}

.foot_inner1
{
    width: 55%;
    text-align: center;
}

.foot_inner1 h3
{
    margin-bottom: 1.5rem;   
    font-size: 1.8rem;
}

.foot_inner1 p{
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.upper_arrow{
    position: absolute;
    right: 8%;
    top:581px;
    cursor: pointer;
}

#footer2{
    min-height: 25rem;
}


.inner_footer{
    padding: 4.5rem 10rem 1rem;
    display: flex;
    justify-content: space-between;
}

.inner_footer_subOne p{
    width: 100%;
    margin-top: 1rem;
    line-height: 1.6rem;
}

.inner_footer_subOne_content{
   color: #C3CEE2;
}

.inner_footer_subOne_sites{
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.inner_footer_subTwo{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}

.main_link{
    margin-bottom: 1rem;
}

.main_link > a{
    color: black;
}

.sub_link{
    color: black;
    line-height: 2.4rem;
    opacity: 0.9;
}


.button:hover{
    transform: box-shadow; 
    box-shadow: 0px 0px 15px rgb(35, 196, 179,0.7);
}

.button:focus{
    outline-color: var(--btn-color);
    box-shadow: 0px 0px 15px var(--btn-color);
}

.port_img{
    transform: scale(1,1);
    transition: transform 0.3s 0s ease,box-shadow 0.3s 0s ease;
}

.port_img:hover{
    transform: scale(1.02,1.02);
    transform: box-shadow; 
    box-shadow: 0px 0px 15px var(--btn-color);
    cursor: pointer;
}

