/*------------------------------------------------------------------------------------------------------------------------
 @author: Farouk Blalou
 @www: http://www.farouk.pw
 @github: farouk2u
 @version: 1.0

 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */