/*------------------------------------------------------------------------------------------------------------------------
 @package: Sadaka
 @author: Farouk Blalou
 @www: http://www.farouk.pw
 @github: farouk2u
 @version: 1.0

 =============================================================================
 Filename: _module.scss
 =============================================================================
 This file is responsible for establishing modules styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */



 /* =============================================================================
Buttons
========================================================================== */





/* =============================================================================
Forms
========================================================================== */

