/*------------------------------------------------------------------------------------------------------------------------
 @package: Sadaka
 @author: Farouk Blalou
 @www: http://www.farouk.pw
 @github: farouk2u
 @version: 1.0

 =============================================================================
 Filename: _state.scss
 =============================================================================
 This file is responsible for establishing states styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */